<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script type="text/javascript">
            window.siteKey = "{{ gg_recaptcha_site_key }}";
        </script>
    </head>
    <body>
        <div class="container-fluid">

        {% block content %}


        {% endblock %}

        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript"
                    src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{ app.request.locale }}"
                    async defer></script>
        {% endblock %}

    </body>


</html>
